export(AT, AT2, RR, OR, rMVN, post.check,
prev, distrHs,
adjCov, copgHsCont,
adjCovSD,
gt.bpm,
bprobgHs,mb,
bprobgHsPO,
bprobgHsSS,
bprobgHsContUniv,
copgHs, copgHs2,
logLik.SemiParBIVProbit,
LM.bpm,
VuongClarke,
plot.SemiParBIVProbit,
predict.SemiParBIVProbit,
print.AT, print.AT2, print.RR, print.OR, 
print.prev, 
print.mb,
print.SemiParBIVProbit,
print.summary.SemiParBIVProbit,
S.m, 
conv.check,
SemiParBIVProbit.fit.post,
SemiParBIVProbit.fit,
SemiParBIVProbit,
summary.SemiParBIVProbit,
working.comp,
resp.check,
polys.map, polys.setup)

importFrom(magic, adiag)
importFrom(survey, svyrecvar, twophasevar, twophase2var, svyCprod)
importFrom(trust,trust)
importFrom(VGAM,pbinorm,dbinorm)
import(mgcv)
importFrom(VineCopula, BiCopTau2Par)
importFrom(ggplot2, fortify)

importFrom(graphics, axTicks, abline, hist, lines, par, polygon, plot, rug) 
importFrom(grDevices, cm.colors, gray, heat.colors, terrain.colors, topo.colors, dev.new)   
importFrom(stats, qlogis, plogis, dgamma, dlnorm, dlogis, dnorm, density, cor, coef, as.formula, aggregate.data.frame, integrate, 
           model.matrix, na.omit, na.pass, pbinom, pchisq, pgamma, plnorm, pnorm, printCoefmat,
           qnorm, qqnorm, quantile, residuals, rnorm, sd, uniroot, update, var, weighted.mean) 
importFrom(utils, getFromNamespace)



S3method(plot, SemiParBIVProbit)
S3method(summary, SemiParBIVProbit)
S3method(print, AT)
S3method(print, AT2)
S3method(print, RR)
S3method(print, OR)
S3method(print, SemiParBIVProbit)
S3method(print, summary.SemiParBIVProbit)
S3method(logLik, SemiParBIVProbit)
S3method(predict, SemiParBIVProbit)
S3method(print, prev)
S3method(print, mb)




