exportPattern(".")

import(mgcv, trust, mvtnorm)

importFrom(MASS, ginv)
importFrom(VGAM, pnorm2, dnorm2)
importFrom(magic, adiag)
importFrom(statmod, gauss.quad)
importFrom(polycor, polychor)

S3method(plot, SemiParBIVProbit)
S3method(summary, SemiParBIVProbit)
S3method(residuals, SemiParBIVProbit)
S3method(print, AT)
S3method(print, SemiParBIVProbit)
S3method(print, summary.SemiParBIVProbit)
